.status-container{
    height: 120px;
    width: 120px;
    border-radius: 40px;
    filter: drop-shadow(6px 6px 10px black);
    animation: statusAppear 2.2s forwards;
}
@keyframes statusAppear{
    0%{opacity:0; transform: scale3d(2, 2, 2) rotate3d(0,0.5,0,90deg) translate3d(10px, 10px, 10px)}
    50%{opacity:0; transform: scale3d(2, 2, 2) rotate3d(-0.4,0.5,0,90deg) translate3d(10px, 10px, 10px)}
    100%{opacity:1; transform: scale3d(1, 1, 1) rotate3d(0,0,0,90deg) translate3d(0, 0, 0px)}
}