:root{
  --opac1:1;
  --fallback-border:1px solid #ABA;
  --color-component:#EEEEEE50;
  --offsetTop:env(safe-area-inset-top);
}
.ufc > *:not(header):not(#exp){
  transition: var(--filter);
  filter: saturate(0.7) brightness(0.8);
}
@font-face {
  font-family:'ReenieBeanie';
  src: local('ReenieBeanie'), url(./fonts/ReenieBeanie-Regular.ttf) format('truetype');
  font-display:fallback;
}
@-moz-document url-prefix() {:root{--opac1: 0.999;}}
@supports (-ms-ime-align:auto) {:root{--opac1: 0.999;}#animatedBackground{background:-ms-linear-gradient(white) !important;}}
@keyframes appear{
  0% {opacity:0;transform: translateY(20px);}
  50% {transform: unset;}
  100% {opacity:var(--opac1);}
}
@keyframes imgAppear{
  0% {opacity:0;}
  30% {opacity:0;filter:drop-shadow(0 0 10px var(--color-grey));transform: translateY(30px);}
  60% {transform: unset;filter:drop-shadow(0 0 6px var(--color-grey));}
  100% {opacity:var(--opac1);filter:drop-shadow(0 0 0px var(--color-grey));}
}
@keyframes cardAppear{
  from {opacity:0;transform: scale(0.9);}
  to {opacity:var(--opac1);transform: scale(1);}
}
@keyframes height{
  0% {opacity:0;max-height:0;}
  50%{opacity:var(--opac1);}
  100% {max-height:100vh;}
}
@keyframes carAppear{
  0% {opacity:0; display:none;}
  100% {opacity:var(--opac1);display:block;}
}
@keyframes disappear{
  0% {opacity:var(--opac1);display:block;}
  100% {opacity:0; display:none;}
}
html{
  -ms-content-zooming:none;
  overscroll-behavior-y: none;
  touch-action: pan-y;
  overflow: hidden overlay;
  height: 100vh;
  background: black;
}
body{
  margin:0;
  user-select:none;  
  -ms-user-select:none;
  -webkit-user-select:none;  
  -webkit-touch-callout:none;
  background:transparent;
}
.cover{
  margin:0;
  top:0;
  left:0;
  z-index:500;
  background:radial-gradient(circle at top center, var(--gradient-30) 0%, var(--gradient-30) 30%, var(--accent-soft) 100%);
  position:absolute;
  width:100%;
  height:100%;
  animation: appear 0.6s;
}
.usertag{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 auto;
  width:60px;
  height:60px;
  border-radius:50%;
  background: radial-gradient(circle at top center, var(--accent-soft) 75%,var(--accent-color) 100%);
  color: #FFFFFF88;
  border: 2px solid var(--accent-color);
  font-size: 30px;
  font-weight:500;
}
.uiThemePicker{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.pickerItem{
  outline: none;
  width: 40px;
  height: 40px;
  border: 1px solid #CCCCCC;
  margin: 5px auto;
}
.pickerItem:focus-visible{
  border: 3px solid var(--color-focus);
}
button:focus-visible{
  border-color: var(--color-focus);
  box-shadow:0 0 4px var(--color-focus);
}
.pickerSelected{
  border: 3px solid var(--accent-color);
  box-shadow:none;
}
#carView,#confView,#aboutView,#statsView,#slideView{
  animation: cardAppear 0.6s;
  margin: 0 auto;
  max-width: min(100vw,45em);
}
#aboutView{
  grid-template-columns: 60% 40%;
  max-width: max(60vw,700px);
}
#aboutView #imgView{
  grid-area: 1/2/3/3;
}
#imgView p{
  text-align: center;
}
.about-img{
  animation: imgAppear 1.4s;
  margin: 10px auto;
  display: block;
  border-radius: 20px;
  width: 55%;
}
.height-anim{
  animation:height 0.6s ease-in-out;
}
.loadingAnimation{
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 40vh auto;
  color: var(--accent-color);
}
.gridList{
  margin: 4vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  gap: 1vmin;
}
.gridList>div{
  opacity: 0.5;
  color: var(--accent-color);
  background: var(--backdrop);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridList>div>p{
  margin:0;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.gridList>div:hover{
  cursor: pointer;
  background-color: var(--gradient-30);
}
.gridList>div.selected{
  color: white;
  text-shadow: 0 0 2px black;
  background-color: var(--accent-soft);
}
@keyframes colorchange {from {background-color: var(--color-fill);}to {background-color: var(--accent-color);}}:root{--color-fill:#DDDDDD;--color-panel:#FAFAFA;--color-focus:#151545;--color-text:#000000;--color-grey:#5C575A;--accent-color:#4169E1;--accent-soft:#4169E166;}body{font-family:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Ubuntu,'Helvetica Neue',sans-serif;color:var(--color-text);}
h1{text-align:left;margin:1vmin 20px;}
h2{text-align:left;margin:1vmin 50px;}
p{line-height:150%;margin:0 5vw 15px 5vw;}
input,button,select{display:inline-grid;background:var(--color-panel);padding:5px 10px;border:none;border-radius:5px;outline:0 !important;font-size:1rem;color:var(--color-text);margin:5px;}
button{transition:filter 0.4s, opacity 0.6s;background:var(--accent-soft);border-radius:10px;font-weight:bold;color:white;}
button:hover{opacity:0.8;filter:saturate(1.4);}
button:active{filter:saturate(2);}
button:disabled{filter:opacity(20%);}
button img{margin:5px auto;filter:drop-shadow(0px 0px 2px var(--color-grey));}
.form{display:block;text-align:center;width:fit-content;margin:4vmin auto;}
.form span{display:block;text-align:left;font-weight:500;}
.uiCard{border:var(--fallback-border);border-radius:15px;background-color:var(--backdrop);backdrop-filter:var(--blur);-webkit-backdrop-filter:var(--blur);margin:0.6em;padding:0.6em;overflow:hidden;box-shadow:var(--shadow-medium)}
.slideView div{transition:opacity 0.5s,max-height 0.5s ease-out;}
.slideView>div{text-align:center;}
.slideView>div>div>h1,.slideView>div>div>h2,p{text-align:left;}
.scrollList{margin: 0 auto;overflow-y: auto;padding-left: 5px;padding-right: 5px;height: 200px;width: min(350px,100%);}
.settingsList{overflow:hidden;border-collapse:collapse;width:100%;background:var(--color-panel);border-radius:6px;}
.settingsList tr{height:35px;display: grid;grid-template-columns: auto 35px;grid-template-rows: auto;align-items: center;}
.settingsList tr td:first-child{text-align:left;padding-left:5%;font-weight:100;}
.settingsList tr td:last-child>*{text-align: center;}
.actionButton{display:flex;align-items:center;justify-content:center;background-color:#AAAAAA30 !important;color:#AA0000;border-radius:3px;margin:0;width:30px;height:30px;}
.actionButton:hover{background-color: #AAAAAA45 !important;border: 2px solid #CCCCCC;}
#hdrTitle{display: none;}
@media screen and (max-width: 600px){
  #hdrTitle{
    display:block;
    text-align: right;
    height: 100%;
    margin: 0 5vw;
    font-size: xx-large;
    font-weight: 300;
    font-variant: small-caps;
    color: var(--accent-soft);}
    #aboutView{
      grid-template-columns: unset;
    }
    #aboutView #imgView{
      grid-area: unset;
    }
    .gridList{
      padding: 0 10%;
      grid-template-columns: 1fr;
      gap: 1.2vmin;
    }
}
@media (screen-spanning: single-fold-vertical) {
  #confView,#aboutView,#statsView{
    animation: appear 0.6s;
    margin: 0 0 0 env(fold-right);
    max-width: 600px;
  }
}
@media (screen-spanning: single-fold-horizontal) {
  header{
    top: env(fold-bottom);
    position: relative;
  }
  #statsView>.uiCard{
    top: 0;
  }
  #carView{
    height:env(fold-top);
  }
  #gamepad {
    position: fixed;
  }
}