
#gamepad{
    bottom: 0;
    position: absolute;
  }
  .tpArea{
    position: relative;
    margin: 22vmin 12vmin;
  }
  .tpBtn {
    background: var(--gradient-30);
    border-radius: 50%;
    opacity: 0.25;
  }
  .tpBtn div{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: var(--accent-color);
    box-shadow: 0 0 5px black;
  }
@media screen and (max-width: 600px){
    #gamepad{
      position: relative;
    }
    .tpArea{
      position: absolute;
      bottom: 0;
    }
    .tpBtn{
      opacity: 1;
    }
}